*{
    padding: 0;
    top: 0;
    margin: 0;
}

.navbar{
    display: flex;
    position: relative;
    width: 100%;
    background-color: aqua;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.navbar .image{
    width: 10%;
    justify-content: start;
}
.navbar .btn{
    width: 120px;
    height: 50px;
    border-radius: 40px;
    border: none;
}

.navbar .btn2{
    width: 120px;
    height: 50px;
    border-radius: 40px;
}

.navbar p{
    display: flex;
    justify-content: space-evenly;
    
}
